body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

address {
  font-style: normal;
}

button {
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.hero {
  padding-top: 32px;
  padding-bottom: 64px;
  background-color: #ebf8ed;
}

.container {
  max-width: 1470px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.hero-text-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1312px;
  margin-bottom: 20px;
}

.hero-right {
  max-width: 640px;
  margin-bottom: 161px;
}

.hero-title {
  font-family: "Comfortaa", sans-serif;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: #030a06;
  max-width: 537px;
  margin-right: auto;
  margin-bottom: 100px;
}

.hero-text {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  color: #030a06;
  margin-bottom: 32px;
  max-width: 586px;
}

.hero-button {
  min-width: 148px;
  height: 50px;
  border: 1px solid #030a06;
  border-radius: 6px;
  padding: 12px 24px;
  background-color: #030a06;
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: #fff;
}

.hero-image {
  border-radius: 40px;
}
